<div class="content-container">
  <h2 *ngIf="!contentService.isLoading && (contentService.posts | async).length == 0; else postsExist">
    Keine Beiträge vorhanden
  </h2>
  <ng-template #postsExist>
    <app-content-post *ngFor="let post of (contentService.posts | async).slice(page * pageSize, (page + 1) * pageSize)" [post]="post" [expanded]="true"></app-content-post>
  </ng-template>

  <!--
  <button
    mat-raised-button
    class="load-more-button"
    (click)="loadMoreContent()"
    *ngIf="!contentService.isLoading">
    <mat-spinner [diameter]="25" class="load-spinner" *ngIf="loadingMoreContent"></mat-spinner>
    <span>Ältere Beiträge</span>
  </button>-->
  <mat-paginator [length]="contentService.totalItems"
                 [pageSize]="pageSize" *ngIf="!contentService.isLoading" (page)="onPageChange($event)">
  </mat-paginator>
</div>
<div class="content-sidebar" *ngIf="!contentService.isLoading">
  <button mat-raised-button class="events-button">
    <mat-icon>events</mat-icon>
    <br/>
    Alle Einsätze im Forum
  </button>
  <div class="twitter-timeline-container">
    <app-twitter-timeline [dataSrc]="{sourceType: 'profile', screenName: 'gruppe_adler'}" [opts]="{tweetLimit: 5}"></app-twitter-timeline>
  </div>
</div>
