.content-container ::ng-deep {
  .gastspieler .rpt_title {
    background: #66aa66 !important;
  }

  .stammspieler .rpt_title {
    background: #66aa66 !important;
  }

  .anwaerter .rpt_title {
    background: #6caacc !important;
  }

  .adler .rpt_title {
    background: #d18d1f !important;
  }
}
