.content ::ng-deep {
  display: block;
  width: 100%;
  line-height: 16px;
  overflow-x: auto;
  overflow-y: auto;
  padding-bottom: 4px;
  text-align: left;

  small, .tsv_server a:link, .tsv_server a:visited, .tsv_server a:active, .tsv_server a:hover, .tsv_serverinfo, .tsv_serverinfo a:link, .tsv_serverinfo a:visited, .tsv_serverinfo a:active, .tsv_serverinfo:hover, .tsv_serverinfo:hover a:hover, .tsv_channel, .tsv_channel:hover, .tsv_user, .tsv_user a:link, .tsv_user a:visited, .tsv_user a:active, .tsv_user:hover, .tsv_user:hover a:hover, .tsv_spacer, .tsv_content {
    color: rgb(117, 117, 117);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
  }
  * {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: initial;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: inherit;
  }
  .tsv_level {
    line-height: 1.5;
    clear: both;
    white-space: nowrap;
  }

  @for $i from 0 through 10 {
    .tsv_level .tsv_content.tsv_depth_#{$i} {
      padding-left: 20px * $i;
    }
  }

  .tsv_content {
    box-sizing: border-box;
    background-image: none;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
    float: none;
    width: auto;

    a {
      display: none;
      pointer-events: none;
    }
  }
  .tsv_prefixIcon {
    margin-right: 6px;
  }
  i.tsv_viewer.host {
    background-image: url("//forum.gruppe-adler.de/favicon.ico");
  }

  .tsv_viewer_server_name {
    display: initial !important;
    pointer-events: initial !important;
    color: black !important;
  }

  i {
    display: inline-block;
    vertical-align: text-bottom;
    background-size: contain;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
  }
  i.tsv_viewer {
    width: 16px;
    height: 16px;
  }
  .tsv_serverinfo {
    margin-bottom: 4px;
  }
  .tsv_suffix {
    float: right;
    position: relative;
    text-align: right;
  }
  .tsv_suffix i {
    margin-left: 3px;
  }
  i.tsv_viewer.channel_flag_default {
    background-image: url("https://static.tsviewer.com/images/ts3/viewer/default_colored_2014/channel_flag_default.png");
  }
  .tsv_channel .tsv_content {
    display: inline;
    text-align: left;
    color: rgb(117, 117, 117);
    font-weight: normal;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
  }
  .tsv_channel:hover .tsv_content {
    display: inline;
    text-align: left;
    color: rgb(117, 117, 117);
    font-weight: normal;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
  }
  i.tsv_viewer.channel_open {
    background-image: url("https://static.tsviewer.com/images/ts3/viewer/default_colored_2014/channel_open.png");
  }
  i.tsv_viewer.tree {
    background-image: url("https://static.tsviewer.com/images/ts3/viewer/default_colored_2014/tree.png");
    margin-right: 4px;
  }
  .tsv_user, .tsv_user a:link, .tsv_user a:visited, .tsv_user a:active {
    display: inline;
    text-align: left;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
  }
  i.tsv_viewer.client_mic_muted {
    background-image: url("https://static.tsviewer.com/images/ts3/viewer/default_colored_2014/client_mic_muted.png");
  }
  .tsv_user .tsv_content .ts3v_user_tooltip {
    position: absolute;
    z-index: 100;
    background-color: white;
    color: grey;
    font-size: 11px;
    font-weight: normal;
    width: 127px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-sizing: border-box;
    box-shadow: rgb(136, 136, 136) 0px 1px 3px;
    display: none;
  }
  .tsv_user:hover .tsv_content .ts3v_user_tooltip {
    display: block;
  }
  .tsv_user .tsv_content .ts3v_user_tooltip div label {
    color: grey;
    white-space: nowrap;
    display: inline-block;
    width: 48px;
    font-size: 11px;
    font-weight: normal;
    font-family: inherit;
    text-align: right;
    padding-right: 8px;
    line-height: inherit;
  }
  .tsv_user .tsv_content .ts3v_user_tooltip div span {
    color: black;
    white-space: nowrap;
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
    font-family: inherit;
    line-height: inherit;
  }
  .tsv_user .tsv_content .ts3v_user_tooltip a.boxedLink {
    display: block;
    color: rgb(84, 84, 84);
    background-color: rgb(241, 241, 241);
    font-size: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(216, 216, 216);
    border-right-color: rgb(216, 216, 216);
    border-bottom-color: rgb(216, 216, 216);
    border-left-color: rgb(216, 216, 216);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    padding-top: 1px;
    padding-right: 5px;
    padding-bottom: 1px;
    padding-left: 5px;
    text-align: center;
    font-weight: normal;
  }
  .tsv_user .tsv_content .ts3v_user_tooltip a.boxedLink:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 204, 0);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(215, 142, 0);
    border-right-color: rgb(215, 142, 0);
    border-bottom-color: rgb(215, 142, 0);
    border-left-color: rgb(215, 142, 0);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  }
  .tsv_level img {
    vertical-align: text-top;
    height: 16px;
    width: 16px;
  }
  .tsv_user .tsv_content .ts3v_user_tooltip .tsv_userBanner {
    width: 121px;
    height: 23px;
    display: block;
  }
  .tsv_left {
    text-align: left;
  }
  i.tsv_viewer.channel_flag_password {
    background-image: url("https://static.tsviewer.com/images/ts3/viewer/default_colored_2014/channel_flag_password.png");
  }
  i.tsv_viewer.channel_pass {
    background-image: url("https://static.tsviewer.com/images/ts3/viewer/default_colored_2014/channel_pass.png");
  }
  i.tsv_viewer.client_snd_muted {
    background-image: url("https://static.tsviewer.com/images/ts3/viewer/default_colored_2014/client_snd_muted.png");
  }
  i.tsv_viewer.client_idle {
    background-image: url("https://static.tsviewer.com/images/ts3/viewer/default_colored_2014/client_idle.png");
  }
  i.tsv_viewer.channel_full {
    background-image: url("https://static.tsviewer.com/images/ts3/viewer/default_colored_2014/channel_full.png");
  }
  i.tsv_viewer.channel_flag_moderated {
    background-image: url("https://static.tsviewer.com/images/ts3/viewer/default_colored_2014/channel_flag_moderated.png");
  }
  i.tsv_viewer.client_away {
    background-image: url("https://static.tsviewer.com/images/ts3/viewer/default_colored_2014/client_away.png");
  }
  i.tsv_viewer.client_mic_disabled {
    background-image: url("https://static.tsviewer.com/images/ts3/viewer/default_colored_2014/client_mic_disabled.png");
  }
}
