<div class="topbar-container">
  <div class="buttons-container">
    <a class="nodebb btn btn-default" [routerLink]="['/slotting']" [queryParams]="{tid: route.snapshot.queryParams.tid}">
      <i class="fa fa-close"></i> Zurück
    </a>
  </div>
</div>

<p>Per Clan im Reservation-for Attribut kann ein Slottinglink erstellt werden. Dieser ermöglicht externen Clans das Slotten in unserer Slotliste.</p>

<h3>Verfügbare Slottinglings</h3>
<ng-container *ngIf="shareData && shareData.availableReservations">
  <ng-container *ngIf="shareData.availableReservations.length > 0; else noSharesAvailable">
    <div *ngFor="let available of shareData.availableReservations" class="reservation">
      <div>
        <i class="fa fa-group group-icon"></i>
        {{available}}
      </div>
      <div class="actions">
        <a class="nodebb btn btn-default action-button" (click)="add(available)">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
  </ng-container>
  <ng-template #noSharesAvailable>
    <label>Keine Slottinglinks verfügbar</label>
  </ng-template>
</ng-container>


<h3>Aktive Slottinglings</h3>
<ng-container *ngIf="shareData && shareData.activeReservations">
  <ng-container *ngIf="shareData.activeReservations.length > 0; else noSharesActive">
    <div *ngFor="let active of shareData.activeReservations" class="reservation">
      <div>
        <i class="fa fa-group group-icon"></i>
        {{active.reservation}}
      </div>
      <div class="actions">
        <a class="nodebb btn btn-default action-button" target="_blank" [routerLink]="['/events']" [queryParams]="{
          tid: route.snapshot.queryParams.tid,
          matchid: route.snapshot.queryParams.matchid,
          uuid: active.adminUuid ? active.adminUuid : active.publicUuid,
          reservation: active.reservation}">
          <i class="fa fa-external-link"></i>
        </a>
        <a class="nodebb btn btn-default action-button" (click)="delete(active)">
          <i class="fa fa-trash-o"></i>
        </a>
      </div>
    </div>
  </ng-container>
  <ng-template #noSharesActive>
    <label>Keine Slottinglinks aktiv</label>
  </ng-template>
</ng-container>
