.storage-notification-container {
  position: fixed;
  bottom: 0;
  height: 10%;
  min-height: 60px;
  max-height: 100px;
  left: 0;
  width: 100%;
  z-index: 99999;
}

@media only screen and (max-height: 900px) and (max-width: 1100px) {
  .storage-notification-container {
    height: 20%;
    min-height: 100px;
    max-height: 200px;
  }
}

.storage-notification-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: whitesmoke;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-table {
  display: table;
  border-spacing: 1rem;
}

.storage-message {
  display: table-cell;
  padding: 2em;
}

.storage-message-buttons {
  display: table-cell;
  padding-right: 2em;
}

.left-button {
  margin-right: 2rem;
}

@media (max-width: 1100px)  {
  .storage-message {
    display: table-row;
    border: 1px;
  }

  .storage-message-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
