@import "../../assets/defines";

* {
  color: #949494;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: $footerHeight;
  padding: 1rem;
  background-color: black;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  font-size: 12pt;

  a {
    font-size: 12pt;
  }
}
