<header [ngStyle]="{'top': topOffset + 'px'}">
  <div class="navbar-container">
    <ul class="navbar-list" [@navbarState]="mobileBarOpen">
      <ng-container *ngFor="let entry of entries">
        <li class="navbar-entry"
            [routerLink]="[entry.routerLink]"
            [routerLinkActiveOptions]="{exact: entry.routerLink === '/'}"
            routerLinkActive="active"
            *ngIf="entry.routerLink; else externalLink" (click)="onItemClick()">
          <a class="navbar-link">
            <span *ngIf="entry.name; else image">
              {{entry.name}}
            </span>
            <ng-template #image>
              <img *ngIf="entry.imageLink" [src]="entry.imageLink">
            </ng-template>
          </a>
        </li>
        <ng-template #externalLink>
          <li class="navbar-entry" (click)="onItemClick()">
            <a class="navbar-link" [href]="entry.externalLink">
              <span *ngIf="entry.name; else image">
                {{entry.name}}
              </span>
              <ng-template #image>
                <img *ngIf="entry.imageLink" [src]="entry.imageLink">
              </ng-template>
            </a>
          </li>
        </ng-template>
      </ng-container>
    </ul>
    <div class="mobile-expand-container">
      <div class="mobile-expand-button" [ngClass]="mobileBarOpen ? 'expanded' : null" (click)="mobileBarOpen = !mobileBarOpen">
        <mat-icon>{{ !mobileBarOpen ? 'menu' : 'close' }}</mat-icon>
      </div>
    </div>
  </div>
  <img src="./assets/adlerkopp.png" class="mobile-picture" routerLink="/" (click)="onItemClick()">
</header>
