.container {
  position: absolute;
  top: 0;
  bottom: 4rem;
  right: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 80vh;
  background: white;
  padding: 2rem;

  @media (min-width: 1200px) {
    transform: translateY(-30rem);
  }
}

.error-picture {
  display: inline-block;
  margin-right: 5rem;
}

.error-text {
  display: inline-block;
  text-align: center;

  p {
    font-size: 14pt;
  }
}
