@import "../assets/defines";

.content {
  max-width: 100%;
  background: white;

  margin: 0;
  z-index: 100;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 2rem;

  @media (min-width: $backgroundMaxWidthForDisplay) {
    margin-top: $backgroundHeight;
    min-height: calc(100vh - #{$backgroundHeight} - 6rem);
  }

  @media (max-width: $backgroundMaxWidthForDisplay - 1px) {
    padding-left: 2%;
    padding-right: 2%;
    margin-top: $navbarDesktopHeight;
    min-height: calc(100vh - 8rem);
  }

  @media (max-width: $navbarMaxWidthForMobileView) {
    margin-top: $navbarMobileHeight;
  }
}

:host ::ng-deep router-outlet + *:not(nav) {
  display: grid;
  grid-template-columns: [content] 1fr [sidebar] 0.3fr;
  grid-column-gap: 2rem;

  @media (max-width: $contentMaxWidthForMobileView) {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-template-rows: [content] 1fr [sidebar];
    grid-row-gap: 2rem;
  }
}
