<div #toolbar class="toolbar" *ngIf="toolbarExpanded" [class.expanded]="toolbarExpanded" (keypress)="onKey($event)"
     [ngStyle]="{left: 'calc(50% - ' + toolbar.clientWidth / 2 + 'px)'}">
  <div class="arrow"></div>
  <div class="tools">
    <form>
      <div class="mat-row">
        <div class="flag-select"
             tabindex="1"
             (focus)="onFocusFlagSelect($event);"
        >
          <div class="natosymbol" [ngClass]="element.natosymbol"></div>
          <ul class="selections">
            <li  tabIndex="-1" *ngFor="let flag of editService.flagIcons"
            (click)="setFlag(flag)"
            (focus)="setFlag(flag)"
            (keydown.ArrowDown)="onKeyFlagSelect($event, 'down');"
            (keydown.ArrowUp)="onKeyFlagSelect($event, 'up');"
            >
              <div class="natosymbol" [ngClass]="flag"></div>
            </li>
          </ul>
        </div>
        <mat-form-field class="app-input-white-underline callsign-input">
          <input #description matInput placeholder="Callsign" [(ngModel)]="element.callsign" name="callsign">
        </mat-form-field>
        <mat-form-field class="app-input-white-underline">
          <input #description matInput placeholder="Frequency" [(ngModel)]="element.frequency" name="frequency">
        </mat-form-field>
        <mat-form-field class="app-input-white-underline">
          <input #description matInput placeholder="Vehicle" [(ngModel)]="element.vehicletype" name="vehicle">
        </mat-form-field>
        <mat-divider [vertical]="true"></mat-divider>
        <button mat-button (click)="duplicate()">
          <mat-icon>content_copy</mat-icon>
        </button>
        <mat-divider [vertical]="true"></mat-divider>
        <button mat-button (click)="delete()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    <div class="mat-row secondary">
        <div class="iconContainer">
          <mat-icon class="lock-icon">lock</mat-icon>
        </div>
        <div class="txt_secondary">for everyone besides</div>
        <mat-form-field class="app-input-white-underline">
          <input #description matInput placeholder="group name" [(ngModel)]="element['reserved-for']" name="reserved-for">
        </mat-form-field>
        <div class="txt_secondary">AND/OR until</div>
        <mat-form-field class="" >
          <input #description matInput
                 placeholder="slotted count"
                 [(ngModel)]="element['min-slotted-player-count']"
                 name="min-slotted-player-count"
                 type="number"
                 min="0"
          >
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
