
<ng-container *ngIf="context.company">
  <div *ngFor="let company of context.company" class="company-container" draggable [dragData]="{type: 'company', data: company, origin: context.company}" [dragScope]="'company'" [class.preset]="company.preset">
    <div class="company-title-container title-container" [ngClass]="company.side ? company.side : null">
      <span class="natosymbol" [ngClass]="company.natosymbol" [matTooltip]="company.vehicletype ? company.vehicletyp : null"></span>
      <span class="company-title" [ngClass]="company.side ? company.side : null">{{company.callsign}}</span>
      <app-edit-context-menu [element]="company" [context]="context" [type]="'company'"></app-edit-context-menu>
    </div>
    <div class="company-header">
      <ng-container *ngIf="company.slot">
        <app-edit-slot class="slot" *ngFor="let slot of company.slot" [slot]="slot" [reservation]="reservation" [context]="company"></app-edit-slot>
      </ng-container>
      <app-edit-slot-add [context]="company" [type]="'company'" *ngIf="!company.preset"></app-edit-slot-add>
    </div>
    <div class="company-siblings"
         droppable (onDrop)="onDrop($event, company, 'company')"
         (onDragEnter)="onDragEnter($event)"
         (onDragLeave)="onDragLeave($event)"
         [dropEnabled]="!company.preset"
         [dropScope]="['company', 'platoon', 'squad']"
         [dragHintClass]="'drag-target'">
      <app-edit-node [context]="company" [reservation]="reservation"></app-edit-node>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="context.platoon">
  <div *ngFor="let platoon of context.platoon" class="platoon-container" draggable [dragData]="{type: 'platoon', data: platoon, origin: context.platoon}" [dragScope]="'platoon'" [class.preset]="platoon.preset">
    <div class="platoon-title-container title-container">
      <span class="natosymbol" [ngClass]="platoon.natosymbol" [matTooltip]="platoon.vehicletype ? platoon.vehicletyp : null">
      </span>
      <span class="platoon-title">{{platoon.callsign}}</span>
      <app-edit-context-menu [element]="platoon" [context]="context" [type]="'platoon'"></app-edit-context-menu>
    </div>
    <div class="platoon-header">
      <ng-container *ngIf="platoon.slot">
        <app-edit-slot class="slot" *ngFor="let slot of platoon.slot" [slot]="slot" [reservation]="reservation" [context]="platoon"></app-edit-slot>
      </ng-container>
      <app-edit-slot-add [context]="platoon" [type]="'platoon'" *ngIf="!platoon.preset"></app-edit-slot-add>
    </div>
    <div class="platoon-siblings"
         droppable (onDrop)="onDrop($event, platoon, 'platoon')"
         (onDragEnter)="onDragEnter($event)"
         (onDragLeave)="onDragLeave($event)"
         [dropEnabled]="!platoon.preset"
         [dropScope]="['platoon', 'squad']"
         [dragHintClass]="'drag-target'">
      <app-edit-node [context]="platoon" [reservation]="reservation"></app-edit-node>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="context.squad">
  <div *ngFor="let squad of context.squad" class="squad-container" draggable [dragData]="{type: 'squad', data: squad, origin: context.squad}" [dragScope]="'squad'" [class.preset]="squad.preset">
    <div class="squad-title-container title-container">
      <span class="natosymbol" [ngClass]="squad.natosymbol" [matTooltip]="squad.vehicletype ? squad.vehicletyp : null"></span>
      <span class="squad-title">{{squad.callsign}}</span>
      <app-edit-context-menu [element]="squad" [context]="context" [type]="'squad'"></app-edit-context-menu>
    </div>
    <div class="squad-header">
      <ng-container *ngIf="squad.slot">
        <app-edit-slot class="slot" *ngFor="let slot of squad.slot" [slot]="slot" [reservation]="reservation" [context]="squad"></app-edit-slot>
      </ng-container>
      <app-edit-slot-add [context]="squad" [type]="'squad'" *ngIf="!squad.preset"></app-edit-slot-add>
    </div>
    <div class="squad-siblings"
         droppable (onDrop)="onDrop($event, squad, 'squad')"
         (onDragEnter)="onDragEnter($event)"
         (onDragLeave)="onDragLeave($event)"
         [dropEnabled]="!squad.preset"
         [dropScope]="'fireteam'"
         [dragHintClass]="'drag-target'">
      <app-edit-node [context]="squad" [reservation]="reservation"></app-edit-node>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="context.fireteam">
  <div *ngFor="let fireteam of context.fireteam" class="fireteam-container" draggable [dragData]="{type: 'fireteam', data: fireteam, origin: context.fireteam}" [dragScope]="'fireteam'" [class.preset]="fireteam.preset">
    <ng-container>
      <app-edit-slot class="slot" *ngFor="let slot of fireteam.slot" [slot]="slot" [isFireteam]="true" [reservation]="reservation" [context]="fireteam"></app-edit-slot>
    </ng-container>
    <app-edit-slot-add [context]="fireteam" [type]="'fireteam'" *ngIf="!fireteam.preset"></app-edit-slot-add>
  </div>
</ng-container>
