
.company-siblings, .platoon-siblings, .squad-siblings {
  transition: padding-bottom 0.3s ease, border-color 0.3s ease, border-width 0.2s ease;
}

.squad-siblings {
  padding-top: 9px;
}

.platoon-title, .company-title, .squad-title, .title-container {
  cursor: grab;
}

.drag-target {
  border: #666666;
  border-width: 1px;
  border-style: dashed;
  padding-bottom: 60px;
}

.drag-over {
  border-color: red;
  border-width: 3px;
}

.squad-container, .platoon-container, .company-container, .fireteam-container {
  animation: slide-up 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);

  &.preset {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}

::ng-deep app-edit-slot-add {
  .slot-container {
    opacity: 0;
    // width: 0 !important;
    transition: all 0.2s ease;
    transform-origin: right;
    transform: translate(17px, 0px);
    color: transparent;
  }

  .avatar {
    border-style: none !important;
    background: rgba(0,0,0,0.1) !important;
  }
}
div:hover > ::ng-deep app-edit-slot-add .slot-container {
  // width: 35px !important;
  opacity: 1;
  transform: translate(0, 0);
  transition: all 0.2s ease;
  color: initial;
}
.fireteam-container {
  background-color: #d9d9d9;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*
app-edit-slot-add {
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s ease;
  opacity: 0;
  height: 0;
}

.company-header:hover {
  app-edit-slot-add {
    visibility: visible;
    opacity: 1;
  }
}*/


