
.company-siblings, .platoon-siblings, .squad-siblings {
  min-height: 70px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;

  &.drag-over {

  }
}

.platoon-title, .company-title, .squad-title, .title-container {
  cursor: grab;
}

.drag-target {
  border: #666666;
  border-width: 1px;
  border-style: dashed;
  padding-bottom: 60px;
}

.squad-container, .platoon-container, .company-container, .fireteam-container {
  animation: slide-up 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.fireteam-container {
  background-color: #d9d9d9;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
