.toolbar {
  position: absolute;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.3s ease;
  visibility: hidden;
  z-index: 99999;


  &.expanded {
    opacity: 1;
    visibility: visible;
    // box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
  }

  .arrow {
    width: 0;
    height: 0;
    margin: 0 auto;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
  }

  .tools {
    position: relative;
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;

    form {
      display: flex;

      .shortcode-input {
        max-width: 38px;
        margin-right: 10px;
        margin-left: 10px;
      }

      .description-input {
        max-width: 125px;
        margin-right: 20px;
        margin-left: 10px;
      }

      .preset-input {
        max-width: 175px;
        margin-right: 10px;
        margin-left: 10px;

      }
      .preset-list {
        position: relative;
        
        ::-webkit-scrollbar {
          background: black;
          width: 5px;
        }

        ::-webkit-scrollbar-thumb {
          background: #d18d1f;
          margin: 1px;
        }

        ul {
          position: absolute;
          top: calc(100% - 5px);
          min-width: 100%;
          width: auto;
          max-height: 0;
          padding-left: 0;
          list-style: none;
          transition: all 0.2s ease;
          overflow: hidden;
          overflow-y: auto;
          margin-bottom: 0px;
  
          li {
            margin: 0;
            background: black;
            padding: .5rem 1rem;
            cursor: pointer;
            outline: none;
            text-align: left;
      
            &:hover, &:focus, &:focus-within {
              background: #d18d1f;
            }
          }
        }

        &:focus-within {
          ul {
            max-height: 42rem;
          }
        }
      
      }

      button {
        padding-right: 5px;
        padding-left: 5px;
        min-width: 65px;
      }
    }
  }
}

.avatar {
  transition: background-color 0.3s ease;
  &.selected {
    background-color: black !important;
  }
}
