<div *ngFor="let company of context.company" class="company-container">
  <div class="company-title-container title-container" [ngClass]="company.side ? company.side : null">
    <span class="natosymbol" [ngClass]="company.natosymbol" [matTooltip]="company.vehicletype ? company.vehicletyp : null">
    </span>
    <span class="company-title" [ngClass]="company.side ? company.side : null">{{company.callsign}}</span>
  </div>
  <div class="company-header">
    <app-event-slot class="slot" *ngFor="let slot of company.slot" [slot]="slot" [reservation]="reservation"></app-event-slot>
  </div>
  <app-event-node [context]="company" [reservation]="reservation"></app-event-node>
</div>

<div *ngFor="let platoon of context.platoon" class="platoon-container">
  <div class="platoon-title-container title-container">
    <span class="natosymbol" [ngClass]="platoon.natosymbol" [matTooltip]="platoon.vehicletype ? platoon.vehicletyp : null">
    </span>
    <span class="platoon-title">{{platoon.callsign}}</span>
  </div>
  <div class="platoon-header">
    <app-event-slot class="slot" *ngFor="let slot of platoon.slot" [slot]="slot" [reservation]="reservation"></app-event-slot>
  </div>
  <app-event-node [context]="platoon" [reservation]="reservation"></app-event-node>
</div>

<div *ngFor="let squad of context.squad" class="squad-container">
  <div class="squad-title-container title-container">
    <span class="natosymbol" [ngClass]="squad.natosymbol" [matTooltip]="squad.vehicletype ? squad.vehicletyp : null"></span>
    <span class="squad-title">{{squad.callsign}}</span>
  </div>
  <div class="squad-header">
    <app-event-slot class="slot" *ngFor="let slot of squad.slot" [slot]="slot" [reservation]="reservation"></app-event-slot>
  </div>
  <div class="squad-siblings">
    <app-event-node [context]="squad" [reservation]="reservation"></app-event-node>
  </div>
</div>

<div *ngFor="let fireteam of context.fireteam" class="fireteam-container">
  <app-event-slot class="slot" *ngFor="let slot of fireteam.slot" [slot]="slot" [isFireteam]="true" [reservation]="reservation"></app-event-slot>
</div>
