.slotlist-add-button {
  transition: all 0.2s ease;
  &:hover {
    background-color: #4D914D;
    border-color: #339933 !important;
    color: white;
  }
}

.slotlist-new-tab {
  transition: all 0.2s ease;
  &:hover {
    background-color: #8F1167;
    border-color: #660066 !important;
    color: white;
  }
}
