<div class="slot-container">
  <ng-container *ngIf="slot">
    <div class="avatar" [matTooltip]="slot.user ? slot.user.username : slotTooltip" matTooltipPosition="above" [ngStyle]="{'background': background}" [ngClass]="isFireteam ? 'fireteam' : null" (click)="slotUser()">
      <span *ngIf="slot.user && slot.user['icon:text'] && !slot.user.picture">
        {{slot.user['icon:text']}}
      </span>
      <ng-container *ngIf="slotLocked">
        <mat-icon class="lock-icon">lock</mat-icon>
        <!--<img src="../../assets/slotting/lock.svg" class="lock-icon" *ngIf="slotLocked"/>-->
        <!--<i class="fa fa-lock"></i>-->
      </ng-container>
    </div>
    <div class="slot-descr" [matTooltip]="slot.description" (click)="slotUser()" [ngClass]="isFireteam ? 'fireteam' : null">
      {{slot.shortcode}}
    </div>
  </ng-container>
</div>
