<div class="top-bar">
  <small class="slotted-count-label">
    Slotliste (Geslottet: {{match.slottedPlayerCount}})
  </small>
  <button class="icon-clear-button" [matMenuTriggerFor]="contextMenu" *ngIf="canAdministrate">
    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
  </button>
</div>

<mat-menu #contextMenu>
  <ul class="dropdown-menu" role="menu">
    <li role="presentation" class="dropdown-header">Slotliste</li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1"
         [routerLink]="['edit']"
         [queryParams]="{tid: route.snapshot.queryParams['tid'], matchid: match.uuid}"
         class="match-control-edit">
        <span class="menu-icon"><i class="fa fa-pencil"></i></span> Edit
      </a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1"
         [routerLink]="['share']"
         [queryParams]="{tid: route.snapshot.queryParams['tid'], matchid: match.uuid}"
         class="match-control-edit">
        <span class="menu-icon"><i class="fa fa-share"></i></span> Share
      </a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" class="match-control-delete" (click)="deleteMatch()">
        <div class="inline menu-icon"><i class="fa fa-trash-o"></i></div>
        <span>Delete</span>
      </a>
    </li>
  </ul>
</mat-menu>

<div class="lists-container">
  <app-event-node *ngIf="match" [context]="match" [matchid]="match.uuid"></app-event-node>
</div>

<div>
  <a class="nodebb btn btn-default slotlist-add-button">
    <i class="fa fa-sitemap"></i> +
  </a>
</div>
