/*
  Navbar
 */
$navbarMaxWidthForMobileView: 800px;
$navbarMobileHeight: 4rem;
$navbarDesktopHeight: 2rem;

/*
  Footer
 */
$footerHeight: 2rem;

/*
  Content
 */
$contentMaxWidthForMobileView: 1000px;

/*
  Background
 */
$backgroundMaxWidthForDisplay: 1200px;
$backgroundLogoSize: 15rem;
$backgroundHeight: 30rem;
