@import "assets/defines";

::selection {
  background: #d18d1f;
  color: white;
}
::-moz-selection {
  background: #d18d1f;
  color: white;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, sans-serif !important;
  letter-spacing: 1px;
}

h2 {
  background-color: #d0d5d9 !important;
  color: rgba(0,0,0,0.5);
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 40px;
  padding: 10px 20px 10px 10px;

  .material-icons {
    padding-right: 10px;
  }

  .headline-icon {
    margin-right: 10px;
    color: #666;
  }
}

h3 {
  font-size: 1.75rem;
}

mat-divider {
  background: #333333;
}

mat-icon {
  color: #666666;
  font-family: 'Material Icons', sans-serif !important;
}

a {
  color: #6caacc;
  text-decoration: none;
  font-weight: bolder;
}

img {
  max-width: 100% !important;
  width: auto !important;
  height: auto !important;
}

button {
  font-size: 15px !important;
}

ul, ol {
  padding-left: 20px;
  margin-bottom: 1rem;
  margin-top: 0;

  li {
    margin: 8px 0;
  }
}

ul {
  list-style: disc;
}

.content-container {
  grid-column: content;
  grid-row: content;
  min-width: 0;

  @media (min-width: $contentMaxWidthForMobileView + 1px) {
    border-right: rgba(0, 0, 0, 0.12);
    border-width: 0 1px 0 0;
    border-style: solid;
    padding-right: 2em;
  }
}

.content-sidebar {
  padding-top: 40px;
  padding-bottom: 2rem;
  grid-column: sidebar;
  grid-row: sidebar;

  h2 {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

.cdk-overlay-container {
  z-index: 99999 !important;
}


.nodebb {
  &.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 16px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.btn-default {
      color: #333;
      background-color: #fff;
      border-color: #ccc;
    }

    &.btn-primary {
      color: #fff;
      background-color: #d18d1f;
      border-color: #bb7e1c;
    }
  }
}

.mat-input-container.app-input-no-underline .mat-input-underline {
  display: none;
}

.mat-input-container.app-input-white-underline .mat-input-underline {
  background: white;
}

.mat-form-field-label {
  color: #666666 !important;
}

.mat-button:hover .mat-button-wrapper mat-icon, .mat-button:focus .mat-button-wrapper mat-icon {
  color: #d18d1f !important;
}

.mat-focused .mat-form-field-infix {
    background: #333;
}

.flag-select:hover, .flag-select:focus {
    border-top-left-radius: 5px;
    background:#d18d1f;
}

.flag-select .selections li:hover {
    background: #d18d1f !important;
}

.flag-select li:hover .natosymbol, .flag-select li:focus .natosymbol {
    background-color: #fff !important;
}


.switch {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  padding: 3px 8px;

  &:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
  }

  dt, kbd kbd, label {
    font-weight: 700;
  }
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
  }

  button, input, optgroup, select, textarea {
    color: inherit;
    font-style: inherit;
    font-variant-ligatures: inherit;
    font-variant-caps: inherit;
    font-variant-numeric: inherit;
    font-variant-east-asian: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    margin: 0;
  }

  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    margin: 4px 0 0;
    line-height: normal;
  }
  button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  input {
    display: none;
  }

  .slider {
    cursor: pointer;
    background-color: rgb(204, 204, 204);
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    transition-delay: initial;
    transition-property: initial;
    display: inline-block;
    vertical-align: middle;

    &.round {
      border-radius: 17px;
      width: 30px;
      height: 17px;
      margin: 7px;
      top: 3px;

      .point {
        border-radius: 50%;
      }
    }

    .point {
      position: relative;
      content: "";
      height: 13px;
      width: 13px;
      background-color: white;
      transition-duration: 0.1s;
      transition-timing-function: ease-in;
      transition-delay: initial;
      transition-property: initial;
      top: 2px;
      left: 2px;
      display: block;
    }
  }

  input:hover + .slider, input:focus + .slider {
    background-color: rgb(102, 102, 102);
  }
  input:checked + .slider  {
    background-color: rgb(102, 170, 102);
  }
  input:checked:hover + .slider, input:checked:focus + .slider {
    background-color: rgb(51, 119, 51);
  }
  input:focus + .slider {
    box-shadow: rgb(102, 170, 102) 0 0 1px;
  }
  input:checked + .slider > .point {
    transform: translateX(13px);
  }

  .switch_label {
    padding-left: 5px;
    user-select: none;
    display: inline-block;
    vertical-align: middle;
  }

}
