.buttons-container {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
}

.edit-container {
  width: 100%;

  mat-form-field {
    width: 100%;
    height: 100%;

    textarea {
      height: 100%;
    }
  }
}
